.single{
    text-align: center;
    padding: 1rem 0;
    height: 800px;
    .single-heading{
        width: 100%;
        padding: 2rem 0;
    }
    .single-card{
        width: 30%;
        margin: 0 auto;
        height: 500px;
        img{
            width: 30%;
           
        }
        .price{
            color: rgb(30, 30, 141);
        }
         .description {
                    padding: 1rem 0;
                    color: grey;
        
                }
        .flex-row{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;

            .btn{
                background-color: rgb(48, 48, 175);
                color:white;
                padding:10px;
                border:none;
                border-radius: 10px;
            }
            
        }
    }
}