.header{
  width: 100%;
  background-color: rgb(5, 5, 29);
  color:white; 
  display: flex;
  padding: 1rem 0;
  .container{
.header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 2rem;
    }
}
  
   ul{
    display: flex;
    gap: 40px;
   }
}}